@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
  --dark: #0f0f0f;
  --darkOpacity: rgba(15, 15, 15, 0.4);
  --darkCard: rgba(15, 15, 15, 0.6);
  --light: #f9f9f9;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--light);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--dark);
  font-family: "Source Sans Pro", sans-serif;
  background-image: url(./5461597.jpg);
}

/* Bouton */

.button {
  color: var(--light);
  width: 16rem;
  border: 2.15px solid var(--light);
  background-color: var(--darkOpacity);
  padding: 0.4rem 2rem;
  text-align: center;
  user-select: none;
  transition: 0.7s;
  display: block;
}

.button2{
  color: var(--light);
  width: 11rem;
  border: 2.15px solid var(--light);
  background-color: var(--darkOpacity);
  text-align: center;
  user-select: none;
  transition: 0.7s;
  display: block;
  margin: auto;
}

.re{
  display: flex;
}



.choix{
  color: var(--light);
  width: 5.3rem;
  border: 2.15px solid var(--light);
  background-color: var(--darkOpacity);
  text-align: center;
  user-select: none;
  transition: 0.7s;
  display: block;
  margin: auto;
  
  
}

.button:hover {
  background-color: var(--dark);
}

.btn-center .button {
  margin: 0 auto;
}

/* Titre */

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

/* paragraphe */

p {
  font-size: 1rem;
}

/* formulaire */

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  background-color: var(--dark);
  border: 2.15px solid var(--light);
  margin: 10px;
  padding: 10px;
  font-size: 1rem;
}

textarea {
  font-family: "Source Sans Pro", sans-serif;
}

label {
  margin-left: 10px;
}

/* card */
.card-container{
  display: flex;
  width: 800px;
  margin:0 auto;

}
.card {
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  margin: 10px auto;
  border-radius: 16pt;
  padding: 10px;
  
  
  
}
