@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");

:root {
  --dark: #0f0f0f;
  --darkOpacity: rgba(15, 15, 15, 0.4);
  --darkCard: rgba(15, 15, 15, 0.6);
  --light: #f9f9f9;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--light);
}

html {
  font-size: 16px;
}

body { 
  background-color: var(--dark);
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("../images/lune.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2{
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;
}

.card {
    min-width: 200px;
    width: 70rem;
    min-height: 200px;
    margin: 10px auto;
    border-radius: 16pt;
    padding: 10px;
    background-color: var(--darkCard);
  }
  
img{
    opacity: 0.7;
    display: block;
    margin-left: auto;
    margin-right: auto
}

h2 {
    font-size: 3rem;
    font-weight: 400;
  }

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

p {
    font-size: 1rem;
    text-align: center;
  }

.controleur_div{
    display: flex;
    margin-top: 2rem;
}